@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #4682B4;
    --secondary-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Playfair Display', serif;
}

.draw {
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    z-index: -100;
}

.rectangle {
    height: 300px;
    background-color: var(--main-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    border: 0;
}

.extra-small{
    font-size: 0.5vw;
}

hr{
    margin: 1vw 0vw;
}


/*ABOUT ME*/

#aboutMe{
    padding: 10vw 0vw;
}

#aboutMe>h1{
    float: right;
    color: var(--secondary-color);
    padding-right: 4vw;
}

#imgDiv>img{
    width: 50vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#imgDiv{
    padding-top: 3vw;
    margin: 1vw 5vw;
    display: inline-block;
    float: left;
    
}

#description, #experience{
    background-color: var(--secondary-color);
    width: 80%;
    padding: 4vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#description{
    margin: 20vw auto auto auto;
}

#experience{
    margin: 5vw auto auto auto;
}

#description>h2{
    padding: 4vw;
}

#description>p{
    font-size: 3vw;
}

#aboutMeLinks{
    text-align: right;
    padding-top: 4vw;
}

/*MY WORK*/
#work{
    width: 80%;
    margin: auto;
}

#work>h2{
    padding-bottom: 2vw;
}

#projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6vw;
}

.project{
    width: 35vw;
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.project>img{
    width: 35vw;
}

.project>p{
    font-size: 3vw;
    padding: 1vw 1vw 4vw 1vw;
}

.links{
    display: flex;
    justify-content: space-between;
    padding: 1vw;
    font-size: 3vw;
    font-family: 'Playfair Display', serif;
}

.social-icon{
    width: 5vw;
}

/*EXPERIENCE*/
#experience>h2{
    text-align: center;
}

.exp-icons{
    display: grid;
    margin: auto;
    justify-items: center;
    padding: 1vw 0vw 0vw 0vw;
}

.current{
    grid-template-columns: repeat(2, 1fr);
    width: 20%;
}
.recent{
    grid-template-columns: repeat(4, 1fr);
    width: 40%;
}
.professional{
    grid-template-columns: repeat(6, 1fr);
    width: 60%;
}

.exp-icon{
    width: 3vw;
}

.exp-icons >h4{
    font-size: 1.5vw;
}

/*CONTACT*/
#contactDiv{
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin-top: 4vw;
}

#contact{
    width: 80%;
    margin: auto;
    padding: 4vw;
}

#contact>p{
    font-size: 2.5vw;
    padding: 2vw;
}

#email, #emailIcon{
    vertical-align: middle;
}

#email{
    padding-left: 2vw;
    font-size: 3vw;
}


/* For desktop: */
@media only screen and (min-width: 768px) {
    .extra-small{
        font-size: 0.5vw;
    }
    

    /*ABOUT ME*/
    #aboutMe, #experience{
        padding: 2vw 0vw;
        margin-bottom: 2vw;
    }
    
    #aboutMe>h1{
        padding-right: 21vw;
    }
    #imgDiv>img{
        width: 15vw;
    }
    #imgDiv{
        margin: 1vw 2vw 1vw 18vw;
    }

    #description{
        margin: 8vw auto auto auto;
        padding: 2vw 2vw 1vw 2vw;
        width: 50%;
    }

    #description>h2{
        padding: 0vw 0vw 2vw 0vw;
    }

    #description>p{
        font-size: 1.5vw;
    }

    #aboutMeLinks{
        padding-top: 0vw;
    }

    .social-icon{
        width: 2vw;
    }

    /*MY WORK*/
    #projects{
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .project{
        width: 25vw;        
    }
    .project>img{
        width: 25vw;
    }

    .project>p{
        font-size: 1vw;
        padding: 1vw 1vw 4vw 1vw;
    }

    .links{
        font-size: 1.5vw;
    }

    .proj-title{
        flex: 0 0 80%;
    }

    /*EXPERIENCE*/

    .exp-icons >h4{
        font-size: 1vw;
    }

    /*CONTACT*/
    #contact>p{
        font-size: 1.5vw;
        padding: 1vw;
    }
    
    #email{
        padding-left: 1vw;
        font-size: 1.5vw;
    }
}